 /* Scss Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,800,900|Roboto:200,300,400,700,900&display=swap&subset=vietnamese');


/*-------Variables*/
$red: #BD2E2E;
$light-red: #E24545;
$light-red-2: #f8eaea;
$dark-red: #961D1D;	
$primary: #000000;
$whitey: #fafafa;

$font-content: 'Roboto', sans-serif;
$font-title: 'Montserrat', sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;

$min_width: 320px;
$max_width: 1200px;
$min_p_font: 14px;
$min_h_font: 22px;
$max_p_font: 16px;
$max_h_font: 42px;


/*------Mixins - Functions*/

//Screen Responsive

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

//Fluid Typo
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

//Font Styles
@mixin font($font: 'base') {
    @if ($font==h1) {
        font-family: 'Montserrat', sans-serif;
		font-weight: 900;
		font-size: 42px;
		line-height: 1;
    }
    @else if ($font==h2) {
        font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 22px;
    }
	@else if ($font==h3) {
        font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 26px;
    }
    @else if ($font==button) {
        font-family: 'Roboto', sans-serif;
		font-weight: 900;
		font-size: 24px;
		text-transform: uppercase;
		color: #ffffff;
    }
	@else if ($font==title) {
        font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 32px;
		text-transform: uppercase;
		color: $red;
		text-align: center;
		padding: 40px 0px;
    }

    @else {
        font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #000000;
    }
}


//Navbar
@mixin nav {
	@include tablet{
		.nav-link{padding: 0 0.5rem 0.5rem;}
	}
ul {
    margin: 0;
    padding: 10px 0 0;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
	  		.hidden {
			@include tablet{
				display: none;
			}	
		}	
    li {
      display: inline-block;
      position: relative;
      a {
        color: $primary;
        text-decoration: none !important;
        display: inline-block;
        padding: 10px 12px;
        transition: color 1s;
		opacity: 0.75;  
      }
      .underline {
        height: 3px;
        background-color: transparent;
        width: 0%;
        transition: width 0.3s, background-color 0.5s;
        margin: 0 auto;
      }
		&.active-link a{
			color: $red;
		}	
      &.active-link .underline {
        width: 25px;
        background-color: $red;
      }
      &:hover {
        .underline {
          background-color: $red;
          width: 25px;
        }
        ul li a {
		  padding: 0px 10px 20px 20px;
          transition: none;
          color: $primary;
        }
	 
      }
      &:active {
        a {
          transition: none;
          color: $red;
        }
        .underline {
          transition: none;
          background-color: rgba(255, 255, 255, 0.76);
        }
      }
      .navbar-dropdown {
        text-align: left;
        width: 184px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        left: 0;
        display: none;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
		z-index: 100;  
      }
      &:hover > .navbar-dropdown {
		padding-top: 20px;
        visibility: visible;
        opacity: 1;
        display: block;
      }
      ul {
        &:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }
        li:hover > a {
          color: $red;
        }
      }
    }
  }

}

/*0. Global setting*/
body {
  background-color: $whitey;
  @include font(base);
}

html {
	scroll-behavior: smooth; 
}

section {
	padding: 60px 0;
	margin: 60px 0;
}

button:focus, button:active {
	outline: none;
}

::placeholder {
	@include font(base);
	font-style: italic;
}

.no-margin-section{
	margin: 0 auto;
}

/*Scrollbar*/
::-webkit-scrollbar {
  	width: 10px;
	background: transparent;
}

::-webkit-scrollbar-track {
  	background: rgba(#fff,0.2); 
}
 
::-webkit-scrollbar-thumb {
  background: $red; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-red; 
}

body {
  width: 100vw;
  overflow-x: hidden;
}

/*1. Menu*/



#fixed-menu{
	height: 56px;
	position: fixed;
	z-index: 100;
	width: 100vw;
	background-color: #fff;
	transition: top 0.3s ease-in-out;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
}

.nav-down{top:0px}
.nav-up{top:-70px}
.nav-out{left:-70px}
.nav-in{left: -5px}

.navbar-container {
  height: 64px;
  text-transform: uppercase;
  text-align: left;
  font-size: 0;
  position: relative;
  font-weight: bold;
  color: $primary;
  font-size: 14px;
  width: 100%;
	.logo {
  	position: absolute;	
  	float: left;
  	height: 100%;
  	top: 15px;
  	left: -30px;	
	}
	& > .nav-logo{
		float: left;
		width: 100px;
		height: 100%;
		position: relative;
	}
	& > .nav-cta{
		float: right;
		width: auto;
		position: relative;
		background-color: $red;
		border: none;
		border-radius: 25px ;
		padding: 10px 30px 10px 40px;
		margin: 20px 10px 0 0;
		a {
			@include font(button);
			font-size: 14px;
			color: #ffffff;
			font-weight: 800;
		}
	}
	& > .nav-language{
		float: right;
		width: auto;
		position: absolute;
		right: -60px;
		padding: 10px 15px;
		margin: 20px 0 0 10px;
		border: none;
		border-radius: 25px ;
		color: $red;
		background-color: transparent;
		a {
			@include font(button);
			font-size: 14px;
			color: $red;
			font-weight: 800;
		}
	}
	@include nav;

}

.fixed-navbar-container{
	display: flex;
	align-items: center;
	@include nav;
	ul {
		padding: 0px;
		align-self: stretch;
		display: flex;
		align-items: stretch;
		li {
			padding: 0px 10px;
			a {padding: 18px 12px 14px;}
		}
	}
	height: 56px;
    text-transform: uppercase;
    text-align: left;
    font-size: 0;
    position: relative;
    font-weight: bold;
    color: $primary;
    font-size: 14px;
	.logo {
		position: relative;
		height: 100%;
		margin-right: 10px;
	}
	& > .nav-logo{
		position: relative;
		height: 100%;
		padding: 10px 0px;
	}
	& > .nav-cta{
		width: auto;
		background-color: $red;
		border: none;
		border-radius: 25px ;
		padding: 10px 30px 10px 40px;
		a {
			@include font(button);
			font-size: 14px;
			color: #ffffff;
			font-weight: 800;
		}
	}
	& > .padding{
		flex-grow: 2;
	}
	& > .nav-language{
		width: auto;
		padding: 10px 15px;
		margin-right: 10px;
		border: none;
		border-radius: 25px ;
		color: $red;
		background-color: transparent;
		a {
			@include font(button);
			font-size: 14px;
			color: $red;
			font-weight: 800;
		}
	}
}

//Hamburger menu
#menuToggle{
  	display: none;
	@include mobile{display: block};
  	position: fixed;
	transition: left 0.3s ease-in-out;
	height: 50px;
	width: 72px;
	background-color: $whitey;
	border-radius: 0 3px 3px 0  ;
	padding: 14px 0 16px 24px;
  	top: 8px;
  
  	z-index: 1000;
  
  	-webkit-user-select: none;
  	user-select: none;
	
	div{
		position: relative;
	}
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 1001; 
  
  -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: $light-red;
  border-radius: 3px;
  z-index: 1000;
  
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) { 
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $red;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
  position: absolute;
  z-index: 500;
  width: 248px;
  height: 120vh;
  margin: -100px 0 0 -50px;
  padding: 104px 24px 200px 56px;
 
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	
}

#menu li{
  	padding: 8px 0;
	@include font(base);
	ul {
		padding-left: 24px;
		li {
			list-style-type: none;
		}
	}
	a {
		color: $dark-red;
	}
	a:active {
		font-weight: 500;
		color: $light-red;
	}
	img {
		padding-bottom: 24px;
	}
	
}

#menuToggle input:checked ~ ul
{
  transform: none;
}


@include mobile{
	#fixed-menu, #unfixed-menu {
		display: none;
	}
}

/* Scroll to Top*/
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:15px;
	right: 15px;	
	z-index: 200;
	@include mobile{
		visibility: hidden;
	}
}
.scroll {
	position:absolute;
	right: 15px;
	bottom: 10px;
	background:#b2b2b2;
	background:$light-red;
	border-radius: 50%;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:$red;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll .fa {
	padding: 7px 12px 9px;
	font-size: 18px;
	transition: 0.5s;
	color: #fff;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

/*1. Title-slider*/
.background{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	height: auto;
	background-image: url(../images/hero-bg-01.png);
	background-size: cover;
	background-position: center top;
}

b {
	font-weight: inherit;
}

 
.slider{
	margin: 0% 10% 15px;
	padding-top: 47%;
	background-color: none;
	position: relative;
	&-active{
		float: left;
		position: absolute;
		top: 16%;
		left: 20%;
		width: 49%;
		height: 83%;
		background-color: aqua;
		border-radius: 3px;
		z-index: 10;
	}
	&-in{
		float: right;
		position: absolute;
		right: 0%;
		top: 50%;
		width: 29%;
		height: 49%;
		background-color: $red;
		border-radius: 3px;
	}
	&-out{
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		width: 29%;
		height: 49%;
		background-color: $red;
		border-radius: 3px;
	}
	&-none{
		display: none;
	}
	&-title{
		text-transform: uppercase;
		float: left;
		z-index: 15;
		left: 10%;
		position: absolute;
		top: -12%;
		color: #131313;
		@include mobile{top: -18%; left: 25%};
		& h1 {
			@include font(h1);
			font-size: 80px;
			font-weight: 800;
			line-height: 1.3;
			@include fluid-type($min_width, $max_width, 24px, 80px);
		}
		& > h2 {
			@include font(h2);
		}
	}
	&-content{
		display: flex;
		position: absolute;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		top: 15%;
		right: 0%;
		width: 29%;
		height: 18%;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		line-height: 1.4;
		&-p{
			@include mobile{display: none};
			@include tablet{width: 300px; flex-grow: 2;}
		}
		@include tablet{
			top:auto;
			bottom: -30%;
			width: 100%;
			flex-direction: row;
		}
		@include mobile{
			top:auto;
			bottom: -30%;
			width: 100%;
			flex-direction: column;
			align-items: center;
		};
	}
	&-button{
		margin: 10px 0;
		width: auto;
		background-color: $red;
		border-radius: 3px;
		@include tablet {
			margin: 0;
		}
		@include mobile {
			align-self: center;
		}
		p {
			@include font(button);
			padding: 10px 35px 10px 33px ;
			margin: 0;
			@include tablet{
			font-size: 18px;
			}
		}
		a {
			color: #ffffff;
		}
	}
	
	.a1 {
		background: url(../images/slider/de_hoc.svg) no-repeat center center;
		background-size: cover;
	}
	.a2 {
		background: url(../images/slider/de_nho.svg) no-repeat center center;
		background-size: cover;
	}
	.a3 {
		background: url(../images/slider/de_hieu.svg) no-repeat center center;
		background-size: cover;
	}
	.b1 {
		background: url(../images/slider/de_nho_gray.svg) no-repeat center center;
		background-size: cover;
	}
	.b2 {
		background: url(../images/slider/de_hieu_gray.svg) no-repeat center center;
		background-size: cover;
	}
	.b3 {
		background: url(../images/slider/de_hoc_gray.svg) no-repeat center center;
		background-size: cover;
	}
}

/*2. Content*/
.counselling{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	background: linear-gradient($whitey 50%, white 50%)
}

#counselling {
	margin-top: 3%;
	margin-bottom: 0px;
	padding: 30px 0 15px ;
	background-color: $red;
	border-radius: 3px;
	h1 {
		@include font(button);
		text-align: center;
	}
	& > .counsel-select{
		padding: 15px 50px 0px;
		@include font(base);
		color: #ffffff;
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		@include mobile {
			flex-direction: column;
			justify-content: space-between;
			padding: 15px 25px 0;
		}
		.age, .level, .wish {
			display: flex;
			flex-grow: 1;
			align-items: center;
			flex-wrap: wrap;
			padding: 10px 0;
			span {
				flex-wrap: nowrap;
				flex-grow: 1;
			}
			div {flex-grow: 1;}
		}
			& > .btn-cta {
				outline: none;
				border: none;
				border-radius: 3px;
				background-color: #ffffff;
				align-self: center;
				flex-grow: 0;
				padding: 10px 20px;
				margin-left: 30px;
				@include mobile{
					margin: 0;
				}
				a {
					@include font(button);
					color: $red;
				}
				&:hover{a{
					color: #ffffff;
					text-decoration: none;
					}
				}

			}
	}
}

#promo {
	margin-top: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: white;
	.right-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h1 {
			@include font(h1);
			font-size: 28px;
			color: $red;
			line-height: 1.2;
			text-align: right;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		p {
			@include font(base);
			text-align: right;
			padding-bottom: 20px;
		}

		& > .btn-cta {
			align-self: flex-end;
			outline: none;
			border: none;
			border-radius: 3px;
			background-color: $red;
			padding: 10px 20px;
			a {
				@include font(button);
				font-size: 16px;
				text-decoration: none;
			}
		}
		@include mobile{
			h1, p{
				text-align: center;
				padding-top: 30x;
			}
			align-items: center;
		}
	}
}

#courses{
	padding: 0px 15px;
	.title{
		@include font(h3);
		text-align: center;
		color: $red;
		padding-bottom: 40px;
	}
	.item {
		width: 300px;
		height: 300px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		color: #ffffff;
		text-align: center;
		margin: 0 auto;
		border-radius: 3px;
		&-1{
			background: url(../images/Courses-01.png) no-repeat center center;
			background-size: cover;
		}
		&-2{
			background: url(../images/Courses-02.png) no-repeat center center;
			background-size: cover;
		}
		&-3{
			background: url(../images/Courses-04.png) no-repeat center center;
			background-size: cover;
		}
		&-4{
			background: url(../images/Courses-03.png) no-repeat center center;
			background-size: cover;
		}
		&-5{
			background: url(../images/Courses-05.png) no-repeat center center;
			background-size: cover;
		}
	}
	button:hover {
		background-color: transparent;
	}
}

#enroll{
	background-color: #ffffff;
	margin: 0;
	.col-content{
		display: flex;
		flex-direction: column;
		align-content: space-around;
		justify-content: center;
	}
	.title {
		@include font(h3);
		color: $red;
		margin: 0;
		&-h2{
			@include font(h3);
			color: $red;
			font-size: 22px;
			margin:0;
		}
		&-2{
			@include font(h2);
			color: $red;
			text-transform: uppercase;
		}
	}
}

/*Form customize*/
	.form-group{
		margin-top: 10px;
		.custom-input{
			height: 56px;
		}
		& > .select-selected {
			color: $red;
			height: 56px;
		}
		.btn-cta {
			border: none;
			border-radius: 3px;
			background-color: $red;
			margin-top: 10px;
			height: 56px;
			width: 100%;
			cursor: pointer;
			@include font(button);
				&:hover{
					color: #ffffff;
					text-decoration: none;
					background-color: $light-red;
				}
			}
	}
	.form-control{
		@include font(base);
		border-color: $red;
		margin-bottom: 10px;
		&:focus {
			border-color: #FF0000;
 			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
		}
		
	}


#facilities{
	padding: 0px ;
	.title {
		@include font(h3);
		text-align: center;
		color: $red;
		&-fluid{
			@include fluid-type($min_width, $max_width, 26px, 40px);	
		}
	}
	
	@mixin g-item{
		position: absolute;
		background-color: $red;
		height: 31.34%;
		width: 32.2%;
		cursor: zoom-in;
	}
	.gallery /*1180x670*/ {
		margin-top: 20px;
		padding-top: 56.78%;
		position: relative;
		&-item{
			&-grand{
				@include g-item;
				top: 0;
				left: 0;
				width: 66.1%;
				height: 65.67%;
				background: url(../images/facilities6.jpg) no-repeat center center;
				background-size: cover;
			}
			&-2{
				@include g-item;
				top:0;
				right: 0;
				background: url(../images/facilities1.jpg) no-repeat center center;
				background-size: cover;
			}
			&-3{
				@include g-item;
				top: 34.32%;
				right: 0;
				background: url(../images/facilities2.jpg) no-repeat center center;
				background-size: cover;
			}
			&-4{
				@include g-item;
				bottom: 0;
				left: 0;
				background: url(../images/facilities4.jpg) no-repeat center center;
				background-size: cover;
			}
			&-5{
				@include g-item;
				bottom: 0;
				right: 33.9%;
				background: url(../images/facilities5.jpg) no-repeat center center;
				background-size: cover;
			}
			&-6{
				@include g-item;
				bottom: 0;
				right: 0;
				background: url(../images/facilities3.jpg) no-repeat center center;
				background-size: cover;
			}
		}
	}
}

#testimonial{
	margin: 0 auto;
	padding-bottom: 0px;
	.title{
		@include font(h3);
		text-align: center;
		color: $red;
		padding: 40px 0px;
		&-fluid{
			@include fluid-type($min_width, $max_width, 26px, 40px);	
		}
	}
	.owl-stage{
		padding: 30px 0;
	}
	.item {
		width: 80%;
		height: 300px;
		@include mobile{
			height: 400px;
		}
		display: flex;
		align-items: center;
		margin: 0 auto;
		@include font(base);
		color: #000;
		@include mobile{
			flex-direction: column;
			align-items: center;
		}
		.cmt{
			width: 60%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content:center;
			padding-left: 30px;
			margin-right: 60px;
			flex-grow: 1;
			@include mobile{
				padding-top: 15px;
				padding-left: 0px;
				margin-right: 0;
				align-items: center;
				width: 100%;
				text-align: center;
			}
		}
		.ava {
			border-radius: 50%;
			width: 200px;
			height: 200px;
			margin: 30px 30px 60px;
			flex-grow: 0;
			flex-shrink: 0;
			border: 0px solid $red;
			background-size: cover;
			background-position: center center;
			@include mobile {
				width: 100px;
				height: 100px;
				margin: 0;
			}
		}
		.name {
			font-style: italic;
			font-weight: 400;
		}
	}
	.background {
		padding: 20px 0 50px;
		position: relative;
		background-color: $light-red-2;
		background: url(../images/testimonial.svg) no-repeat center center fixed;
		background-size: cover;
	}
}

#footer{
	background-color: $light-red-2;
	background-image: url(../images/footer-02.png);
	background-position: center bottom;
	background-size: cover;
	margin: 0;
	.footer-col{
		display: flex;
		min-height: 200px;
		max-height: 250px;
		@include mobile{
			max-height: 500px;
		}
		flex-direction: column;
		justify-content: space-between;
		padding: 10px 10px;
		.img {
			flex-grow: 3;
		}
		 h1 {
			@include font(h3);
			text-align: left;
			font-weight: 500;
			font-size: 20px;
			margin: 0;
		}
		p {
			padding: 5px 0 0;
			margin: 0;
		}
		
		span {
			@include font(base);
			font-style: italic;
			font-weight: 200;
		}
	}
}
/*---------Miscellaneous-----------*/

/*1. Button ripple effect*/

.ripple {
  background-position: center;
  transition: background 0.5s;
	a{
		text-decoration: none;
	}
	&:hover {
  background: $light-red radial-gradient(circle, transparent 1%, $light-red 1%)
    center/15000%;
		a{ color: #fff;}
	}
	&:active {
  background-color: $dark-red;
  background-size: 100%;
  transition: background 0s;
	}
}

a:hover{
	text-decoration: none;
	border-radius: 3px;
}

/*2. Custom selector*/
.my-custom-select {
     position: relative;
     @include font(base);
     font-weight: 200;
     border-radius: 3px;
     flex-grow: 1;
     select {
         display: none;
    }
}
 .select-selected {
     background-color: rgba(255,255,255,0.10);
     font-style: italic;
     color: rgba(255,255,255,0.70);
     border-radius: 3px;
	 padding: 8px 16px;
     border: 1px solid rgba(255,255,255,0.8);
     &:after {
         position: absolute;
         content: "";
         top: 18px;
         right: 10px;
         width: 0;
         height: 0;
         border: 5px solid transparent;
         border-color: rgba(255,255,255,0.70) transparent transparent transparent;
    }
     &.select-arrow-active:after {
         border-color: transparent transparent rgba(255,255,255,0.70) transparent;
         top: 9px;
    }
}
 .select-items div {
     color: #ffffff;
     padding: 8px 16px;
     border: 1px solid #fff;
     border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
     cursor: pointer;
}
 .select-items {
     position: absolute;
     background-color: $red;
     border-radius: 0 0 3px 3px;
     top: 100%;
     left: 0;
     right: 0;
     z-index: 99;
}
 .select-hide {
     display: none;
}
 .select-items div:hover, .same-as-selected {
     background-color: rgba(0, 0, 0, 0.1);
}

.form-group > .my-custom-select  > .select-selected {
	height: 56px;
	padding: 15px 16px;
	background-color: transparent;
	border-color: $red;
	@include font(base);
	font-weight: 400;
	color: rgba(0,0,0,0.70);
	&:after {
		top: 26px;
		right: 16px;
		border-color: $red transparent transparent transparent;
	}
	&.select-arrow-active:after{
		top: 18px;
		border-color: transparent transparent $red transparent;
	}
}

.form-group > .my-custom-select > .select-items {
	background-color: #fff;
	border-color: $red;
	color: #000;
	& div{
		color: #000;
	}
	& div:hover, .same-as-selected {
     background-color: $light-red;
	}
}
 

/*3. Video wrap*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 5px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*4. Owl nav*/
.slide-content {
    position: relative;
}

    .owl-theme {
		.owl-dots{
			padding-top: 40px;
		}
        .custom-nav {
            position: absolute;
            top: 25%;
            left: 0;
            right: 0;
            .owl-prev, .owl-next {
                position: absolute;
                height: 100px;
                color: inherit;
                background: none;
                border: none;
                z-index: 100;
                i {
                    font-size: 2.5rem;
                    color: $light-red;
                }
				&:hover {
					i{color: $red;}
				}
            }
            .owl-prev {
                left: -50px;
            }
            .owl-next {
                right: -50px;
            }
        }
        .custom-nav-two {
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
            .owl-prev, .owl-next {
                position: absolute;
                height: 100px;
                color: inherit;
                background: none;
                border: none;
                z-index: 100;
                i {
                    font-size: 2.5rem;
                    color: #fff;
                }
            }
            .owl-prev {
                left: 50px;
            }
            .owl-next {
                right: 50px;
            }
        }
    }



/*5.Hover courses*/
.course-hover {
	width: 100%;
	height: 100%;
	@include font(base);
	h2 {
		@include font (h2);
		text-transform: uppercase;
	}
	color: #fff;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: rgba(190,32,32,0.7);
	padding: 10% 30px !important;
	
	hr {
	height: 30px;
	width: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: rgba(255, 255, 255, 1);
	border: 0;
	}
	
	a {
	color: rgba(255, 255, 255, 1);
	padding: 5px 22px;
	border-radius: 3px;
	line-height: 40px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}
	
	.hvr-bounce-to-top:before{
		background: #fff;
	}
	.hvr-bounce-to-top:hover{
		color: $red;
	}
}

.caption {
	text-align: center;
	position: absolute;
	top: 0;
	color: $dark-red;
	margin: 0 auto;
	padding: 25px 20px;
	/*text-shadow: 1px 1px 3px rgba(0,0,0,0.3) ;*/
	/*background-image: linear-gradient(rgba(225,225,225,0) rgba(0,0,0,1));*/
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}


.course:hover {
	.course-hover {
	opacity: 1;
	}
	
	.caption {
	top: -5px;
	opacity: 0;
	}
	
	.course-hover hr {
	width: 100%;
	height: 5px;
	}
}


/*6.Custom animate*/
@-webkit-keyframes fadeInLeft2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}		
		
@keyframes fadeInLeft2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft2 {
  -webkit-animation-name: fadeInLeft2;
  animation-name: fadeInLeft2;
}
	
@-webkit-keyframes fadeOutRight2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
}

@keyframes fadeOutRight2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
}

.fadeOutRight2 {
  -webkit-animation-name: fadeOutRight2;
  animation-name: fadeOutRight2;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}		
		
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
  }
}

@-webkit-keyframes bounceInDown {
  from,
  40%,
  65%,
  85%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  65% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  85% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  40%,
  65%,
  85%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  65% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  85% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
}


.hide {
	visibility: hidden;
}

/*7. Loader*/
.overflow {overflow: hidden;}		

		#loader-warp {
			background-color: #fff;
			z-index: 1000;
			width: 100vw;
			height: 100vh;
			overflow: hidden;
		}
		
		#loader {
/* animation: loader 3s linear infinite; */
  position: absolute;
	z-index: 1001;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
@keyframes loader {
  0% { left: -100px }
  100% { left: 110%; }
}
#box {
  width: 50px;
  height: 50px;
  background: #bd2e2e;
  animation: LoaderAnimate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes LoaderAnimate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
} 
#shadow { 
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}

/*----------Activities Style-OG component*/

.activities-title{
		text-align: center;
		padding-bottom: 100px;
		h1 {
			@include font(h3); 
			padding-bottom: 20px; 
			color: $red;
			@include fluid-type($min_width, $max_width, 26px, 40px);
		}
		p {@include font(base);}
		
}

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	border-radius: 3px;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
	border-radius: 3px;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
	border-radius: 3px;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
	display: flex;
	@include tablet{
		flex-direction: column;
		align-content: center;
	}
	@include mobile{
		flex-direction: column;
		align-content: center;
	}
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	@include tablet{
		width: 100%;
		float: none;
		text-align: center;
	}
	@include mobile{
		width: 100%;
		float: none;
		text-align: center;	}
}

.og-details {
	
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	border-radius: 3px;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	@include font(h3);
	color: $dark-red;
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	@include font(base);
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #000;
}

.og-details a {
	display: none;
}


.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 14px; }
	.og-expander a { font-size: 14px; }

}

@media screen and (max-width: 650px) {

	.og-details { float: none; width: 100%; }
	.og-expander {height: 200px;}
}

/*--------------------Docs style*/

h2.title{
		@include font(h3);
		@include fluid-type($min_width, $max_width, 26px, 40px);
		text-align: center;
		color: $red;
		padding-bottom: 40px;
}

.nav-filter{
	display: flex;
	justify-content: center;
	@include font(base);
	flex-wrap: wrap;
	line-height: 1;
	color: #000;
	padding-bottom: 30px;
	a {
		text-align: center;
		border: 1px solid rgba(0,0,0,0.20);
		border-radius: 40px;
		padding: 15px 25px 14px 24px;
		text-decoration: none;
		color: rgba(0,0,0,0.40);
		margin: 3px 6px;
		transition: all 0.2s ease;
		&:hover{
			border-color: $light-red;
			color: $light-red;
			border-radius: 40px;
		}
		&.current{
		background-color: $red;
		border: none;
		color: #fff;
		}

	}

}


.docs-container{
  @media (max-width: 480px) {
    width: 210px;
  }
	@media (min-width: 481px) and (max-width: 770px) {
    	width: 430px;
  	}
	@media (min-width: 771px) and (max-width: 999px) {
    	width: 645px;
  	}
	@media (min-width: 1000px) and (max-width: 1199px) {
    	width: 860px;
  	}
	margin: 0 auto;
	display: flex;
	width: 1070px;
	align-items: center;
	justify-content: center;
	padding-top: 10px ;
	padding-bottom: 30px;
	&:after {
  		content: '';
  		display: block;
  		clear: both;
	}
}
.docs-item{
	transition: box-shadow 0.2s ease-in-out, margin 0.2s ease-in-out;
	border-radius: 3px;
	margin: 7px;
	width: 200px;
	min-height: 280px;
	box-shadow: 0 2px 5px rgba(#000, 0.1), 0 2px 1px rgba(#000, 0.2);
	background-color: $red;
	background-position: center center;
	background-size: cover;
	&-wide{
		width: 414px;
		@include mobile{
			width: 200px;
		}
	}
	&:hover, &-wide:hover {
		margin: -1px 7px 7px 7px ;
		box-shadow: 0 4px 7px rgba(#000, 0.2), 0 3px 6px rgba(#000, 0.3);
	}
	a {
		text-decoration: none;
	}
}

.content {
		background-color: rgba($dark-red,0.80);
		min-height: 280px;
		width: 100%;
		border-radius: 3px;
		text-decoration: none;
		padding: 15px 20px;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: space-between;
		flex-wrap: wrap;
	-webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;
	&:hover{
		background-color: rgba($red,0.20);
	}
		.tag{
			@include font(h2);
			color: white;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
		}
		.title {
			@include font(h3);
			text-align: center;
		}
		.description{
			@incclude font(base);
			font-size: 14px;
			font-weight: 300;
			text-align: center;
			color: #fff;
		}


	h1 {
		@include font(h3);
		color: #fff;
		text-align: center;
		padding: 5px 0;
	}
	p {
		@include font(base);
		color: #fff;
		text-align: center;
		padding: 5px 0;
	}
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope{
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
	overflow: visible;
}

.isotope {
  -webkit-transition-property: height, width, ;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity, margin, box-shadow;
  -moz-transition-property: -moz-transform, opacity, margin, box-shadow;
  transition-property: transform, opacity, margin, box-shadow;
}

.isotope .isotope-item {
  -webkit-transition-duration: 0.8s, 0.8s, 0.2s, 0.2s;
  -moz-transition-duration: 0.8s, 0.8s, 0.2s, 0.2s;
  transition-duration: 0.8s, 0.8s, 0.2s, 0.2s;
}

.doc-header{
	text-align: center;
	@include font(title);
	padding-bottom: 100px;
	@include mobile{
		padding-bottom: 50px;
	}
	.tag{
		max-width: 160px;
		font-size: 14px;
		text-transform: uppercase;
		padding: 3px 4px;
		border-radius: 3px;
		margin: 0 auto;
		background-color: $light-red;
		color: #fff;
	}
	.title{
		font-size: 60px;
		padding-top: 10px;
		color: $red;
		@include fluid-type($min_width, $max_width, 40px, 60px);
	}
	.date{
		@include font(base);
		font-weight: 900;
		opacity: 0.3;
		font-style: italic;
	}
}

.doc-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	@include font(base);
	p {
		font-weight: 200;
		color: #1d1d1d;
		padding: 8px;
	}
	img {
		padding: 20px 0px;
		width: 80%;
		align-self: center;
		@include mobile{
			width: 100%;
		}
	}
}

.share {
	display: flex;
	flex-direction: column;
	h2 {
		@include font(base);
		font-weight: 300;
		color: #3F3F3F;
		font-size: 24px;
	}
	.social-btn{
		width: 30px;
		height: 30px;
		padding: 3px;
		border-radius: 50px;
		margin-right: 3px;
		border: none;
		color: #fff;
		font-size: 10px;
		transition: opacity 0.15s ease-in-out;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
}

.cmt-section{
	padding-top: 30px;
	.cmt-container{
		border-bottom: 1px solid rgba($dark-red,0.2);
		padding-bottom: 16px;
	}
	hr {
		width: 80%;
		padding: 4px;
	}
	h1 {
		@include font(base);
		font-weight: 300;
		font-size: 40px;
		text-align: center;
		@include fluid-type($min_width, $max_width, 22px, 40px);
		padding: 16px 0 8px;
	}
	.comment {
		display: flex;
		align-items: flex-start;
		padding: 16px 0;
		flex-wrap: nowrap;
		@include mobile {
			flex-wrap: wrap;
		}
		&-ava {
			flex-shrink: 0;
			width: 64px;
			height: 64px;
			border-radius: 3px;
			overflow: hidden;
			flex-basis: 64px;
			img {
				width: 103%;
				height: 103%;
			}
		}
		&-content{
			flex-grow: 1;
			padding: 0 16px;
			h3{
				@include font(base);
				font-weight: 700;
				font-size: 18px;
				color: $red;
			}
			h4{
				@include font(base);
				font-weight: 700;
				font-size: 18px;
			}
			p {
			@include font(base);
			font-weight: 300;
			margin: 0;
		}
			}
		&-mark{
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			flex-basis: 100px;
			text-align: right;
			@include mobile{
				display: flex;
				flex-basis: auto;
				flex-grow: 1;
				flex-wrap: nowrap;
				align-items: flex-start;
				text-align: left;
				padding: 8px 16px;
			}
			h5 {
				@include font(base);
				color: rgba(#000,0.6);
				font-size: 14px;
			}
			.btn-reply {
				@include font(h2);
				text-transform: uppercase;
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				font-size: 16px;
				color: $red;
				opacity: 0.8;
				transition: opacity 0.15s ease-in-out;
				&:hover {
					opacity: 1;
				}
				i {
					font-size: 0.9rem;
				}
			}
		}
		&-reply{
			display: flex;
			align-items: flex-start;
			padding: 0px 0 8px 32px;
			@include mobile {
				flex-wrap: wrap;
			}
		}

	}
}



.tags {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	h2 {
		@include font(base);
		font-weight: 300;
		color: #3F3F3F;
		font-size: 24px;
	}
	a {
	@include font(base);
	display:inline-block;
	font-weight: 400;
	color: #707070;
	padding-left: 6px;
	&:hover {
		color: $red;
		}
	}
}

.related{
	img{
		border-radius: 3px;
		display: block;
	}
	h2 {
		@include font(base);
		font-weight: 300;
		font-size: 40px;
		text-align: center;
		@include fluid-type($min_width, $max_width, 22px, 40px);
		padding: 16px 0 8px;
		color: #3F3F3F;
	}
	a {
	@include font(base);
	font-weight: 400;
	color: #707070;
	&:hover {
		color: $red;
		}
	}

}

#side-tag{
	position: -webkit-sticky;
	position: sticky;
	top: 60px;
	padding: 24px;
	.new-post, .post-tag {
		h3 {
			@include font(base);
			font-size: 24px;
			font-weight: 400;
			color: $red;		
		}
		ul {
			list-style-type: none;
			padding-left: 10px;
			li {
				padding-bottom: 8px;
			}
		}
		ul li a{
			text-decoration: none;
			@include font(base);
			font-weight: 200;
			line-height: 1.1;
			color: rgba(#000,0.5);
			&:hover {
			color: $red;
			}
		}
	}
}

.btn{
	&-twitter{
		background-color: #55acee;
		opacity: 0.8;
	}
	&-facebook{
		background-color: #3b5998;
		opacity: 0.8;
	}
	&-google{
		background-color: #dd4b39;
		opacity: 0.8;
	}
}

@import 'newposts';

/*---------------Courses-Page*/
.header {
	padding: 30px 0;
	position: relative;
	background-image: linear-gradient(174deg, #fafafa 60%, #f0f0f0 85%, #bbbbbb 110%);
  	clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 5vw),
    0 100%
  );
	&-title h1{
		padding: 70px 0 16px;
		@include font(h1);
		@include fluid-type($min_width, $max_width, 32px, 69px);
		color: $red;
		text-transform: uppercase;
		@media (max-width: 1000px) {
			text-align: center;
			padding-top: 40px;
			padding-bottom: 8px;
  		}
	}
	&-title p{
		@media (min-width: 1000px) {
    		width: 80%;
  		}
		
	}
	&-padding{
		@include mobile {
			height: 150px;
  		}
		height: 100px;
	}
	&-thumb{
		@media (min-width: 1000px) {
			margin: 40px -50px -100px 0;
  		}
		margin: 0;
	}
}

.course-content{
	&-info{
		padding: 24px;
		border-radius: 3px;
		margin-top: -100px;
		background-color: $light-red;
		-webkit-box-shadow: 9px 9px 17px -11px rgba(0,0,0,0.67);
		-moz-box-shadow: 9px 9px 17px -11px rgba(0,0,0,0.67);
		box-shadow: 9px 9px 17px -11px rgba(0,0,0,0.67);
		@include mobile {
			padding: 48px 24px;
  		}
		h2{
			@include font(h3);
			text-transform: uppercase;
		}
		color: #fff;
		p{
			padding-bottom: 0;
			margin-bottom: 8px;
		}
		hr {
			padding: 0px 0px 0px;
			background-color: rgba(#fff,0.5);
			width: 80%;
			margin: 0 0 8px;
			}
		}
	}

		.quote{
			position: relative;
			padding: 8px 40px 4px;
			font-style: italic;
			font-size: 20px;
			text-align: right;
			font-weight: 300;
			@media (max-width: 1000px) {
    			text-align: center;
				margin-top: 80px;
  			}
			.left {
				position: absolute;
				top: -16px;
				left: 16px;
				width: 60px;
				font-size: 50px;
				opacity: 0.07;
			}
			.right {
				position: absolute;
				bottom: 8px;
				right: 20px;
				font-size: 30px;
				opacity: 0.1;
			}
}
.course-item-container{
	padding-bottom: 60px;
	margin-bottom: 60px;
	&:after {
  		content: '';
  		display: block;
  		clear: both;
	}
	h1{
		@include font(h3);
		color: $red;
		@include fluid-type($min_width, $max_width, 26px, 40px);
		text-align: center;
		padding: 0px 8px 40px;

	}
}

.course-item{
	transition: box-shadow 0.2s ease-in-out, margin 0.2s ease-in-out;
	border-radius: 3px;
	min-height: 200px;
	border: rgba($light-red,0.3) solid 1px; 
	box-shadow: 0 0px 0px rgba(#000, 0.1), 0 0px 0px rgba(#000, 0.2);
	background-color: transparent;
	background-position: center center;
	background-size: cover;
	margin-bottom: 16px;
	padding-bottom: 16px;
	&:hover {
		margin: -4px 0 20px 0 ;
		box-shadow: 0 4px 16px rgba(#000, 0.1), 0 3px 8px rgba(#000, 0.2);
	}
	a {
		text-decoration: none;
	}
	.price{
		color: #fff;
		h4{
			@include font(h3);
			text-align: center;
			font-weight: 500;
		}
		border-radius: 3px 3px 0 0;
		@include font(h2);
		width: 100%;
		font-size: 22px;
		padding: 16px 0;
		text-align: center;
		background-color: $red;
		&-off{
			font-weight: 500;
			font-size: 16px;
			text-decoration-line: line-through;
		}
		span{
			font-size: 0.8rem;
			font-weight: 400;
		}
	}
	.description{
		padding: 16px 0;
		text-align: center;
		font-weight: 400;
		hr {
			width: 80%;
			background-color: rgba($red,0.2);
		}
	}
}



.course-method{
	padding: 48px 16px 0px;
	h1 {
		@include font(h3);
		color: $red;
		@include fluid-type($min_width, $max_width, 26px, 40px);
		text-align: center;
		padding: 8px;
	}
	p {
		@include font(base);
		font-weight: 300;
		text-align: center;
	}
	&-content{
		img{
			margin: 0 auto;
			border-radius: 3px;
			resize: 80%;
			height: 160px;
		}
		position: relative;
		width: 100%;
		padding: 64px 32px 0px;
		text-align: center;
		p{
			font-weight: 500;
			@include font(base);
			font-size: 20px;
			padding: 24px 8px;
			text-transform: capitalize;
		}
	}
	.single_counter{
		padding: 24px 16px 64px;
		text-align: center;
		@include font(h3);
		font-size: 18px;
		color: rgba(61,61,61,1.00);
		i {
			font-size: 30px;
      		padding: 32px 0 12px;
		}
		img {
			padding: 32px 0 12px;
			opacity: 0.8;
		}
		h2 {
			@include font(h2);
			font-size: 40px;
			color: $red;
		}
		
	}
}

.margin-bottom-30px{
	margin-bottom: 30px;
}

.course-comment{
	margin: -100px 24px 0;
	border-radius: 5px 5px 0 0;
	background-image: linear-gradient(#fff 60%, #fafafa 85%);
	padding: 24px 8% 60px 7%;
	-webkit-box-shadow: 9px -2px 27px -11px rgba(0,0,0,0.37);
	-moz-box-shadow: 9px -2px 27px -11px rgba(0,0,0,0.37);
	box-shadow: 9px -2px 27px -11px rgba(0,0,0,0.37);
}

.reply{
	h3{
		@include font(base);
		font-size: 24px;
		font-weight: 300;
		padding: 16px 0 8px;
		text-align: center;
	}
	.form-group{
		margin: 0px;
		.custom-input{
			height: 40px;
		}
	}
}
	.btn-submit{
		margin: 0 auto;
		background-color: $red;
		border-radius: 3px;
		padding: 6px 24px;
		color: #fff;
		min-width: 48px;
		&:hover{
			background-color: $light-red;
		}
}



/*About Us*/
.hero-title{
	color: rgba(#000,0.7);
	display: flex;
	position: absolute;
	z-index: -1;
	top: 0px;
	flex-direction: column;
	height: 95vh;
	text-align: center;
	justify-content: center;
	align-content: center;
	h1{
		padding-top: 64px;
		@include font(h1);
		text-transform: none;
		@include fluid-type($min_width, $max_width, 60px, 120px);
		font-weight: 800;
		text-align: center;
	}
	p {
		padding-top:16px;
		@include fluid-type($min_width, $max_width, 16px, 18px); 
		width: 60%;
		align-self: center;
	}
}

.bg-50{
	background-color: rgba(255,255,255,0.70);
}

.missions{
	padding: 64px;
	@include mobile{
		padding: 0;
	}
	h1{
		@include font(h3);
		color: $red;
		@include fluid-type($min_width, $max_width, 26px, 40px);
		text-align: center;
		padding: 8px;
	}
	.value {
		margin-left: 30%;
		height: 80vh;
		background-size: contain;
		background-position: right center;
		background-repeat: no-repeat;
		.stick{
			min-width: 300px;
			padding: 32px;
			border-radius: 3px;
			background-color: rgba($light-red-2,0.5);
			position: sticky;
			width: 40%;
			top: 24px;
			margin-left: -40%;
			@include mobile{
				margin: 0;
			}
		}
		h2 {
			@include font(h3);
			color: $red;
			padding: 4px;
		}
		padding: 60px 0px;
		&-sight{
			background-image: url(../images/vision.svg);
		}
		&-mission{
			background-image: url(../images/mission.svg);
			margin-right: 30%;
			margin-left: auto;
			@include mobile{margin-right: 0;}
			.stick{
				margin-left: auto;
				margin-right: -40%;
				@include mobile{margin-right: 0;}
			}
		}
		&-core{
			background-image: url(../images/CoreValue.svg);
		}
		@include mobile{
			margin: 0;
		}
	}
}

@import 'modal';
